In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### LEA from Sig dispor calculator

In [ ]:
master_corp = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/corp_no_from_sig_dispro_calc.xlsx')

In [ ]:
all_corps = master_corp['Reporting Corp'].unique()

In [ ]:
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ES/DOE - Sinha 2023-24 ES 11142024.xlsx")
#df1.head(1)

,SCHOOL_YEAR_ID,STN,IDOE_CORPORATION_ID,CORPORATION_NAME,IDOE_SCHOOL_ID,SCHOOL_NAME,GRADE_CODE,TYPE_EX_SU,DISCIPLINE_TYPE,DISCIPLINE_REASON_ID,DISCIPLINE_REASON,DISCIPLINE_ACTION_LENGTH,ACTUAL_DISCIPLINE_ACTION_LENGTH,INCIDENT_DATE,DISCIPLINE_ACTION_DATE,SPECIAL_ED,ALTERNATIVE_SETTING,SERVICES_PROVIDED_ID,SERVICES_PROVIDED,ARREST_PROPERTY_ID,ARREST_PROPERTY,ARREST_REASON_CODE,ARREST_REASON,CRIM_GANG_RELATED_EVENT_ID,CRIMINAL_GANG_RELATED_EVENT,BIRTH_DATE,ETHNICITY,SOCIO_ECON_STATUS
0,2024,002015097,15,Adams Central Community Schools,0013,Adams Central Middle School,06,1,In School Suspension,10,Other,1.0,1.0,12/18/2023,12/18/2023,N,NaN,3.0,No services provided,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,06/13/2012,White,Free meals

In [ ]:
df1.shape

(221923, 28)

In [ ]:
#df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221923 entries, 0 to 221922
Data columns (total 28 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL_YEAR_ID                   221923 non-null  int64
 1   STN                              221923 non-null  object
 2   IDOE_CORPORATION_ID              221923 non-null  int64
 3   CORPORATION_NAME                 221923 non-null  object
 4   IDOE_SCHOOL_ID                   221923 non-null  object
 5   SCHOOL_NAME                      221923 non-null  object
 6   GRADE_CODE                       221923 non-null  object
 7   TYPE_EX_SU                       221923 non-null  int64
 8   DISCIPLINE_TYPE                  221923 non-null  object
 9   DISCIPLINE_REASON_ID             221923 non-null  int64
 10  DISCIPLINE_REASON                221923 non-null  object
 11  DISCIPLINE_ACTION_LENGTH         219392 non-null  float64
 12  ACTUAL_DISCIPLINE_ACTION_LENGTH  219392 non-null  float64
 13  INCIDENT_DATE                    221923 non-null  object
 14  DISCIPLINE_ACTION_DATE           221923 non-null  object
 15  SPECIAL_ED                       221923 non-null  object
 16  ALTERNATIVE_SETTING              0 non-null       float64
 17  SERVICES_PROVIDED_ID             219503 non-null  float64
 18  SERVICES_PROVIDED                219503 non-null  object
 19  ARREST_PROPERTY_ID               906 non-null     float64
 20  ARREST_PROPERTY                  906 non-null     object
 21  ARREST_REASON_CODE               906 non-null     float64
 22  ARREST_REASON                    906 non-null     object
 23  CRIM_GANG_RELATED_EVENT_ID       221541 non-null  float64
 24  CRIMINAL_GANG_RELATED_EVENT      221541 non-null  object
 25  BIRTH_DATE                       221923 non-null  object
 26  ETHNICITY                        221923 non-null  object
 27  SOCIO_ECON_STATUS                221923 non-null  object
dtypes: float64(7), int64(4), object(17)
memory usage: 47.4+ MB

In [ ]:
df1.columns = df1.columns.str.lower()
#df1.head(1)

,school_year_id,stn,idoe_corporation_id,corporation_name,idoe_school_id,school_name,grade_code,type_ex_su,discipline_type,discipline_reason_id,discipline_reason,discipline_action_length,actual_discipline_action_length,incident_date,discipline_action_date,special_ed,alternative_setting,services_provided_id,services_provided,arrest_property_id,arrest_property,arrest_reason_code,arrest_reason,crim_gang_related_event_id,criminal_gang_related_event,birth_date,ethnicity,socio_econ_status
0,2024,002015097,15,Adams Central Community Schools,0013,Adams Central Middle School,06,1,In School Suspension,10,Other,1.0,1.0,12/18/2023,12/18/2023,N,NaN,3.0,No services provided,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,06/13/2012,White,Free meals

In [ ]:
df1.nunique()

school_year_id                          1
stn                                102129
idoe_corporation_id                   391
corporation_name                      391
idoe_school_id                       1725
school_name                          1652
grade_code                             15
type_ex_su                              5
discipline_type                         5
discipline_reason_id                   25
discipline_reason                      25
discipline_action_length              208
actual_discipline_action_length       207
incident_date                         304
discipline_action_date                314
special_ed                              2
alternative_setting                     0
services_provided_id                    5
services_provided                       5
arrest_property_id                      2
arrest_property                         2
arrest_reason_code                     71
arrest_reason                          71
crim_gang_related_event_id              3
criminal_gang_related_event             3
birth_date                           5286
ethnicity                               7
socio_econ_status                       3
dtype: int64

In [ ]:
df1.sort_values(by = "stn", ascending = False)
#df1.head(5)

,school_year_id,stn,idoe_corporation_id,corporation_name,idoe_school_id,school_name,grade_code,type_ex_su,discipline_type,discipline_reason_id,discipline_reason,discipline_action_length,actual_discipline_action_length,incident_date,discipline_action_date,special_ed,alternative_setting,services_provided_id,services_provided,arrest_property_id,arrest_property,arrest_reason_code,arrest_reason,crim_gang_related_event_id,criminal_gang_related_event,birth_date,ethnicity,socio_econ_status
0,2024,002015097,15,Adams Central Community Schools,0013,Adams Central Middle School,06,1,In School Suspension,10,Other,1.0,1.0,12/18/2023,12/18/2023,N,NaN,3.0,No services provided,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,06/13/2012,White,Free meals
1,2024,004109551,15,Adams Central Community Schools,0013,Adams Central Middle School,07,1,In School Suspension,10,Other,1.0,1.0,09/20/2023,09/20/2023,Y,NaN,4.0,Removed and received services throughout the t...,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,10/20/2009,White,Free meals
2,2024,002514096,15,Adams Central Community Schools,0013,Adams Central Middle School,08,1,In School Suspension,10,Other,1.0,1.0,11/10/2023,11/10/2023,N,NaN,3.0,No services provided,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,01/25/2010,White,Paid meals
3,2024,324713885,15,Adams Central Community Schools,0013,Adams Central Middle School,08,2,Out of School Suspension,12,Battery,9.0,9.0,02/15/2024,02/15/2024,Y,NaN,4.0,Removed and received services throughout the t...,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,11/18/2009,White,Free meals
4,2024,002015097,15,Adams Central Community Schools,0013,Adams Central Middle School,06,1,In School Suspension,10,Other,1.0,1.0,05/08/2024,05/08/2024,N,NaN,3.0,No services provided,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,06/13/2012,White,Free meals

##Reasoning:

duplicates_mask = df1.duplicated(subset=['stn'], keep=False): This line creates a boolean mask using the duplicated method.
subset=['stn']: Specifies that we're looking for duplicates only in the 'stn' column.
keep=False: Marks all occurrences of duplicate values as True, not just the first or last.
df1_sorted = pd.concat([df1[duplicates_mask], df1[~duplicates_mask]]): Here, we use pd.concat to combine two subsets of the original DataFrame:
df1[duplicates_mask]: This selects rows with duplicate 'stn' values.
df1[~duplicates_mask]: This selects rows with unique 'stn' values (using the ~ operator to invert the mask). By concatenating these two subsets in this order, we place duplicates at the top. bold text

In [ ]:
duplicated_mask = df1.duplicated(keep = False)

In [ ]:
#duplicated_mask # it's bollean value

0         False
1         False
2         False
3         False
4         False
          ...
221918    False
221919    False
221920    False
221921    False
221922    False
Length: 221923, dtype: bool

In [ ]:
duplicated_mask.sum()

np.int64(1910)

In [ ]:
df1_sorted = pd.concat([df1[duplicated_mask], df1[~duplicated_mask]])

In [ ]:
#df1_sorted.head(20)

In [ ]:
#df1.query("stn == 'N00008313'")

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
df1_sorted.shape

(221923, 28)

In [ ]:
#df1_sorted.head(5)

In [ ]:
#df1.query("stn == '028913079'")

In [ ]:
df2 = df1.drop_duplicates(subset = ["stn", "incident_date"], keep = "first")
df2.shape

(214700, 28)

In [ ]:
#df2.query("stn == '004110110'")

In [ ]:
#calculate age from birthdate column
from datetime import date
df2['Age'] = (date.today().year -pd.to_datetime(df2['birth_date']).dt.year)

<ipython-input-64-4d508bd874d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age'] = (date.today().year -pd.to_datetime(df2['birth_date']).dt.year)

In [ ]:
df3 = df2.query("Age >=3 and Age <= 21")

In [ ]:
df3.shape

(214645, 29)

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
#check columns discipline action length and actual discipline length columns
comparison = df3['discipline_action_length'] ==df3['actual_discipline_action_length']

In [ ]:
print(comparison)

0         True
1         True
2         True
3         True
4         True
          ...
221918    True
221919    True
221920    True
221921    True
221922    True
Length: 214645, dtype: bool

In [ ]:
#sum the discipline action length of each student
#df3 = df3.groupby('stn')['discipline_action_length'].sum()

In [ ]:
#df3.ethnicity.value_counts()

ethnicity
White                                        103905
Black                                         62265
Hispanic                                      26839
Multiracial                                   18309
Asian                                          2757
American Indian                                 388
Native Hawaiian or Other Pacific Islander       182
Name: count, dtype: int64

In [ ]:
df3.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'}, inplace = True)

<ipython-input-72-08918b65c763>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'}, inplace = True)

In [ ]:
df3.ethnicity.value_counts()

ethnicity
WH7    103905
BL7     62265
HI7     26839
MU7     18309
AS7      2757
AM7       388
PI7       182
Name: count, dtype: int64

In [ ]:
#Only Special ed students
df3_sped = df3.query("special_ed =='Y'")

In [ ]:
# non special ed students
df3_Nonsped = df3.query("special_ed =='N'")

##Comparison Discipline Sheet

In [ ]:
#Comparison group:Total IDEA student enrollment-for Comparison Discipline sheet
target_idea_student = df3_sped.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = "idoe_corporation_id").reindex(all_corps, fill_value=0)

In [ ]:
target_idea_student

ethnicity            AM7  AS7  BL7  HI7  MU7  PI7  WH7
idoe_corporation_id
-999                   0    0    0    0    0    0    0
 15                    0    0    0    6    6    0   34
 25                    0    0    2    6    9    0   93
 35                    0    0    0    0    0    0   18
 125                   0    0  117   47   39    0  166
...                  ...  ...  ...  ...  ...  ...  ...
 9022                  0    0    4    6    1    0   21
 9027                  0    0    5    0    0    0    0
 9036                  0    0    0    0    0    0    0
 9043                  0    0    0    0    0    0    0
 9048                  0    0    0    0    0    0    0

[511 rows x 7 columns]

In [ ]:
#target_idea_student.to_csv("Comparison_discipline_2024.csv")

##In School Suspension

In [ ]:
#filter in school suspension
df3_sped_in_school_suspension = df3_sped.query("discipline_type =='In School Suspension'")

####Sum discipline action length - In school suspension

In [ ]:

df3_sped_in_school_suspension_sum = df3_sped_in_school_suspension.groupby('stn')['discipline_action_length'].sum()

####In school suspension less than or equal to 10 days

In [ ]:
df3_sped_in_school_suspension_less_than_10 = df3_sped_in_school_suspension_sum[df3_sped_in_school_suspension_sum <= 10].index

In [ ]:
df3_sped_in_school_suspension_less_than_10

Index(['002014056', '002016088', '002019003', '002019077', '002021041',
       '002508132', '002513068', '002514098', '002515062', '002516012',
       ...
       'T12479562', 'T12479628', 'T12480307', 'T12481309', 'T12481668',
       'T12483362', 'T12485698', 'T12486246', 'T12487875', 'T12491373'],
      dtype='object', name='stn', length=11270)

#####Get corporation id and ethnicity of in school suspension for less than or equal to 10 days

In [ ]:
in_sch_less_than_10 = df3_sped_in_school_suspension[df3_sped_in_school_suspension['stn'].isin(df3_sped_in_school_suspension_less_than_10)][['idoe_corporation_id','ethnicity', 'stn']]

In [ ]:
#drop duplicate
in_sch_less_than_10 = in_sch_less_than_10.drop_duplicates(subset = ['stn'])

#####Group by corporation id, count ethnicity in school suspension less than or equal to 10 days

In [ ]:
final_in_sch_sus_less_than_10 = in_sch_less_than_10.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = "idoe_corporation_id").reindex(all_corps, fill_value=0)

In [ ]:
final_in_sch_sus_less_than_10

ethnicity            AM7  AS7  BL7  HI7  MU7  PI7  WH7
idoe_corporation_id
-999                   0    0    0    0    0    0    0
 15                    0    0    0    1    3    0    8
 25                    0    0    1    3    2    0   27
 35                    0    0    0    0    0    0    7
 125                   0    0   20   12    6    0   44
...                  ...  ...  ...  ...  ...  ...  ...
 9022                  0    0    0    0    0    0    0
 9027                  0    0    0    0    0    0    0
 9036                  0    0    0    0    0    0    0
 9043                  0    0    0    0    0    0    0
 9048                  0    0    0    0    0    0    0

[511 rows x 7 columns]

#####saved in school suspension less than or equal to 10 days, remove hash for future download

In [ ]:
final_in_sch_sus_less_than_10.to_csv("In_school_suspension_less_than_10.csv")

##In School Suspension greater than or equal to 10 days

In [ ]:
in_sch_greater_than_10 = df3_sped_in_school_suspension_sum[df3_sped_in_school_suspension_sum >= 10].index

In [ ]:
in_sch_greater_than_10

Index(['004109225', '004109465', '004109997', '004110091', '006411108',
       '008314119', '008317126', '009511502', '012821010', '013615059',
       ...
       'E71315005', 'N00003645', 'T12357080', 'T12425923', 'T12452488',
       'T12459862', 'T12463035', 'T12471371', 'T12473035', 'T12473037'],
      dtype='object', name='stn', length=465)

In [ ]:
in_sch_greater_than_10_filter = df3_sped_in_school_suspension[df3_sped_in_school_suspension['stn'].isin(in_sch_greater_than_10)][['idoe_corporation_id','ethnicity', 'stn']]

In [ ]:
in_sch_greater_than_10_filter = in_sch_greater_than_10_filter.drop_duplicates(subset = ['stn'])

In [ ]:
final_in_sch_sus_more_than_10 = in_sch_greater_than_10_filter.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = "idoe_corporation_id").reindex(all_corps, fill_value=0)

####Remove hash for future download in school suspension greater than or equal to 10 days

In [ ]:
final_in_sch_sus_more_than_10.to_csv("In_school_suspension_greater_than_10.csv")

#Out of School suspension/expulsion filter

In [ ]:
df3_sped_oss = df3_sped.query("discipline_type =='Out of School Suspension' or discipline_type == 'Expulsion'") # extract oss and expulsion

In [ ]:
df3_sped_oss_sum = df3_sped_oss.groupby('stn')['discipline_action_length'].sum() # sum the discipline action length

#####out of school suspension less than or equal to 10 days

In [ ]:
df3_sped_oss_less_than_10 = df3_sped_oss_sum[df3_sped_oss_sum <= 10].index

In [ ]:
df3_sped_oss_less_than_10

Index(['002021041', '002512093', '002513068', '002513120', '002514098',
       '002515062', '002515104', '002516012', '002516084', '002517010',
       ...
       'T12484410', 'T12484801', 'T12485698', 'T12487908', 'T12488001',
       'T12490592', 'T12491814', 'T12493879', 'T12497995', 'T12499875'],
      dtype='object', name='stn', length=19086)

In [ ]:
#df3_sped.query("stn =='002516012'") # validate the stn

In [ ]:
df3_sped__oss_less_than_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(df3_sped_oss_less_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']] # filter oss stn less than or equal to 10 days

In [ ]:
df3_sped__oss_less_than_10_filter = df3_sped__oss_less_than_10_filter.drop_duplicates(subset = ['stn'])

In [ ]:
df3_sped__oss_less_than_10_final = df3_sped__oss_less_than_10_filter.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = 'idoe_corporation_id').reindex(all_corps, fill_value=0)

####Save the file out of school suspension or expulsion less than or equal to 10 days. Remove the hash for download

In [ ]:
df3_sped__oss_less_than_10_final.to_csv("df3_sped_oss_less_than_10_days.csv")

###Out of school suspension or Expulsion greater than or equal to 10 days

In [ ]:
df3_sped_oss_greater_than_10 = df3_sped_oss_sum[df3_sped_oss_sum >= 10].index

In [ ]:
df3_sped_oss_greater_than_10

Index(['004109462', '004109502', '004109568', '004109690', '004109879',
       '004318063', '004320039', '004514004', '004607135', '004618065',
       ...
       'T12447634', 'T12455511', 'T12456716', 'T12457428', 'T12460341',
       'T12464298', 'T12467572', 'T12468206', 'T12469376', 'T12479912'],
      dtype='object', name='stn', length=3535)

In [ ]:
df3_sped_oss_greater_than_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(df3_sped_oss_greater_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']]

In [ ]:
df3_sped_oss_greater_than_10_filter = df3_sped_oss_greater_than_10_filter.drop_duplicates(subset = ['stn'])

In [ ]:
df3_sped_oss_greater_than_10_final = df3_sped_oss_greater_than_10_filter.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = 'idoe_corporation_id').reindex(all_corps, fill_value=0)

####Save the file out of school suspension or expulsion greater than or equal to 10 days. Remove hash for download the file

In [ ]:
df3_sped_oss_greater_than_10_final.to_csv("df3_sped_oss_greater_than_10.csv")

###Total Removal age 3-21 by race
count total student without summation of length of suspension

filter the arrest values.

In [ ]:
df3_sped.head(1)

,school_year_id,stn,idoe_corporation_id,corporation_name,idoe_school_id,school_name,grade_code,type_ex_su,discipline_type,discipline_reason_id,discipline_reason,discipline_action_length,actual_discipline_action_length,incident_date,discipline_action_date,special_ed,alternative_setting,services_provided_id,services_provided,arrest_property_id,arrest_property,arrest_reason_code,arrest_reason,crim_gang_related_event_id,criminal_gang_related_event,birth_date,ethnicity,socio_econ_status,Age
1,2024,004109551,15,Adams Central Community Schools,0013,Adams Central Middle School,07,1,In School Suspension,10,Other,1.0,1.0,09/20/2023,09/20/2023,Y,NaN,4.0,Removed and received services throughout the t...,NaN,NaN,NaN,NaN,0.0,N/A not gang-related,10/20/2009,WH7,Free meals,16

In [ ]:
df3_sped_arrest_nan = df3_sped[df3_sped['arrest_reason'].isna()]

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
df3_sped_arrest_nan['arrest_reason'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
total_removal_idea_3_21 = df3_sped_arrest_nan.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = "idoe_corporation_id").reindex(all_corps, fill_value=0)

### Save the file

In [ ]:
total_removal_idea_3_21.to_excel("total_removal_idea_3_21.xlsx")
total_removal_idea_3_21

ethnicity            AM7  AS7  BL7  HI7  MU7  PI7  WH7
idoe_corporation_id
-999                   0    0    0    0    0    0    0
 15                    0    0    0    6    6    0   34
 25                    0    0    2    6    9    0   93
 35                    0    0    0    0    0    0   18
 125                   0    0  117   47   39    0  166
...                  ...  ...  ...  ...  ...  ...  ...
 9022                  0    0    4    6    1    0   21
 9027                  0    0    5    0    0    0    0
 9036                  0    0    0    0    0    0    0
 9043                  0    0    0    0    0    0    0
 9048                  0    0    0    0    0    0    0

[511 rows x 7 columns]