<a href="https://colab.research.google.com/github/Sinha123456/Work-Projects/blob/main/indicator_4_calculation_2023_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

Mounted at /content/drive

#### LEA from Sig dispor calculator

In [ ]:
pe1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/DRF-153 - Neetu Sinha 2023-4 PublicEnrollment 03242025.xlsx')

In [ ]:
#pe1.head()

In [ ]:
#pe1.info()

In [ ]:
master_corp = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/corp_no_from_sig_dispro_calc.xlsx')

In [ ]:
all_corps = master_corp['Reporting Corp'].unique()

In [ ]:
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ES/DOE - Sinha 2023-24 ES 11142024.xlsx")
#df1.head(1)

In [ ]:
df1.shape

(221923, 28)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221923 entries, 0 to 221922
Data columns (total 28 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL_YEAR_ID                   221923 non-null  int64
 1   STN                              221923 non-null  object
 2   IDOE_CORPORATION_ID              221923 non-null  int64
 3   CORPORATION_NAME                 221923 non-null  object
 4   IDOE_SCHOOL_ID                   221923 non-null  object
 5   SCHOOL_NAME                      221923 non-null  object
 6   GRADE_CODE                       221923 non-null  object
 7   TYPE_EX_SU                       221923 non-null  int64
 8   DISCIPLINE_TYPE                  221923 non-null  object
 9   DISCIPLINE_REASON_ID             221923 non-null  int64
 10  DISCIPLINE_REASON                221923 non-null  object
 11  DISCIPLINE_ACTION_LENGTH         219392 non-null  float64
 12  ACTUAL_DISCIPLINE_ACTION_LENGTH  219392 non-null  float64
 13  INCIDENT_DATE                    221923 non-null  object
 14  DISCIPLINE_ACTION_DATE           221923 non-null  object
 15  SPECIAL_ED                       221923 non-null  object
 16  ALTERNATIVE_SETTING              0 non-null       float64
 17  SERVICES_PROVIDED_ID             219503 non-null  float64
 18  SERVICES_PROVIDED                219503 non-null  object
 19  ARREST_PROPERTY_ID               906 non-null     float64
 20  ARREST_PROPERTY                  906 non-null     object
 21  ARREST_REASON_CODE               906 non-null     float64
 22  ARREST_REASON                    906 non-null     object
 23  CRIM_GANG_RELATED_EVENT_ID       221541 non-null  float64
 24  CRIMINAL_GANG_RELATED_EVENT      221541 non-null  object
 25  BIRTH_DATE                       221923 non-null  object
 26  ETHNICITY                        221923 non-null  object
 27  SOCIO_ECON_STATUS                221923 non-null  object
dtypes: float64(7), int64(4), object(17)
memory usage: 47.4+ MB

In [ ]:
df1.columns = df1.columns.str.lower()
#df1.head(1)

In [ ]:
#df1.nunique()

In [1]:
#df1.sort_values(by = "stn", ascending = False)
#df1.head(5)

In [ ]:
duplicated_mask = df1.duplicated(keep = False)

In [ ]:
duplicated_mask

0         False
1         False
2         False
3         False
4         False
          ...
221918    False
221919    False
221920    False
221921    False
221922    False
Length: 221923, dtype: bool

In [ ]:
duplicated_mask.sum()

np.int64(1910)

In [ ]:
df1_sorted = pd.concat([df1[duplicated_mask], df1[~duplicated_mask]])

In [ ]:
#df1_sorted.head(20)

In [ ]:
#df1.query("stn == 'N00008313'")

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
df1_sorted.shape

(221923, 28)

In [ ]:
#df1_sorted.head(5)

In [ ]:
#df1.query("stn == '028913079'")#random validation

In [ ]:
df2 = df1.drop_duplicates(subset = ["stn", "incident_date"], keep = "first")
df2.shape

(214700, 28)

In [ ]:
#df2.query("stn == '004110110'")# random validation after removing duplicated incident dates

In [ ]:
#calculate age from birthdate column
from datetime import date
df2['Age'] = (date.today().year -pd.to_datetime(df2['birth_date']).dt.year)

<ipython-input-25-4d508bd874d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Age'] = (date.today().year -pd.to_datetime(df2['birth_date']).dt.year)

In [ ]:
df3 = df2.query("Age >=3 and Age <= 21")

In [ ]:
df3.shape

(214645, 29)

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
#check columns discipline action length and actual discipline length columns
comparison = df3['discipline_action_length'] ==df3['actual_discipline_action_length']

In [ ]:
print(comparison)

0         True
1         True
2         True
3         True
4         True
          ...
221918    True
221919    True
221920    True
221921    True
221922    True
Length: 214645, dtype: bool

In [ ]:
#sum the discipline action length of each student
#df3 = df3.groupby('stn')['discipline_action_length'].sum()

In [ ]:
df3.ethnicity.value_counts()

ethnicity
White                                        103905
Black                                         62265
Hispanic                                      26839
Multiracial                                   18309
Asian                                          2757
American Indian                                 388
Native Hawaiian or Other Pacific Islander       182
Name: count, dtype: int64

In [ ]:
df3.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'}, inplace = True)

<ipython-input-33-08918b65c763>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'}, inplace = True)

In [ ]:
df3.ethnicity.value_counts()

ethnicity
WH7    103905
BL7     62265
HI7     26839
MU7     18309
AS7      2757
AM7       388
PI7       182
Name: count, dtype: int64

In [ ]:
#Only Special ed students
df3_sped = df3.query("special_ed =='Y'")

In [ ]:
# non special ed students
df3_Nonsped = df3.query("special_ed =='N'")

In [ ]:
df3.Age.value_counts() # do not need to filter age, check for future calcualtion if age greater than 21

Age
15    29901
16    28904
14    26191
17    25153
13    18596
18    18565
12    12251
19    11845
11     9896
10     9053
9      7729
8      7304
7      4797
20     3932
21      328
6       184
5        16
Name: count, dtype: int64

out of school suspension or expulsion is greater than 10 days with and without disabilities.

In [ ]:
filter_sus = df3.query("discipline_type =='Out of School Suspension' or discipline_type == 'Expulsion'")
sus_len_sum = filter_sus.groupby('stn')['discipline_action_length'].sum()
len_gre_10 = sus_len_sum[sus_len_sum > 10].index
filter_sus_greater_than_10 = filter_sus[filter_sus['stn'].isin(len_gre_10)][['idoe_corporation_id', 'special_ed', 'stn']]  # Include 'stn' here
filter_sus_greater_than_10 = filter_sus_greater_than_10.drop_duplicates(subset=['stn']) # drop duplicates
oss_gre_10_sped_non_sped = filter_sus_greater_than_10.groupby(['idoe_corporation_id', 'special_ed'])['stn'].count().unstack(fill_value=0).reindex(all_corps, fill_value = 0)
oss_gre_10_sped_non_sped

special_ed            N   Y
idoe_corporation_id
-999                  0   0
 15                   5   0
 25                   0   0
 35                   0   0
 125                 35  21
...                  ..  ..
 9022                 0   0
 9027                 0   0
 9036                 0   0
 9043                 0   0
 9048                 0   0

[511 rows x 2 columns]

In [ ]:
#rename columns
oss_gre_10_sped_non_sped = oss_gre_10_sped_non_sped.rename(columns = {'N':'oss_gre_than_10_wtout_dis', 'Y':'oss_gre_than_10_with_dis'})
oss_gre_10_sped_non_sped

special_ed           oss_gre_than_10_wtout_dis  oss_gre_than_10_with_dis
idoe_corporation_id
-999                                         0                         0
 15                                          5                         0
 25                                          0                         0
 35                                          0                         0
 125                                        35                        21
...                                        ...                       ...
 9022                                        0                         0
 9027                                        0                         0
 9036                                        0                         0
 9043                                        0                         0
 9048                                        0                         0

[511 rows x 2 columns]

#Out of school suspension or expulsion is greater than 10 with disability and by ethnicities

In [ ]:
df3_sped_oss = df3_sped.query("discipline_type =='Out of School Suspension' or discipline_type == 'Expulsion'")

###Out of school suspension or Expulsion greater than 10 days

In [ ]:
# Calculate total suspension length per student
sus_len_sum = df3_sped_oss.groupby('stn')['discipline_action_length'].sum()

# Identify students with total suspension length greater than 10
students_greater_than_10 = sus_len_sum[sus_len_sum > 10].index

# Filter df3_sped_oss to include only these students
df3_sped_oss_greater_than_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(students_greater_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']]

# Drop duplicate students based on 'stn' to count each student only once
unique_students_greater_than_10 = df3_sped_oss_greater_than_10_filter.drop_duplicates(subset=['stn'])

# Calculate ethnicity breakdown for unique students
total_student_oss_greater_than_10 = unique_students_greater_than_10.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).reindex(all_corps, fill_value = 0).reset_index()

In [ ]:
total_student_oss_greater_than_10

ethnicity  idoe_corporation_id  AM7  AS7  BL7  HI7  MU7  WH7
0                         -999    0    0    0    0    0    0
1                           15    0    0    0    0    0    0
2                           25    0    0    0    0    0    0
3                           35    0    0    0    0    0    0
4                          125    0    0   11    1    4    5
..                         ...  ...  ...  ...  ...  ...  ...
506                       9022    0    0    0    0    0    0
507                       9027    0    0    0    0    0    0
508                       9036    0    0    0    0    0    0
509                       9043    0    0    0    0    0    0
510                       9048    0    0    0    0    0    0

[511 rows x 7 columns]

## PI races are not showing above the grouping data need to deep dive why that race is not showing in oss>10 data set

In [ ]:
#df3.query("ethnicity == 'PI7' and special_ed == 'Y'")# PI7 races do not have oss > 10 days with disabilities

##Merged student with/without disabilities oss > 10 and target races oss > 10 with disabilities.
Indicator 4A =

A = Children with Disabilities (OSS/EXP > 10 days)

B = All Children with disablities

C = Children w/o Disabilities (OSS/EXP > 10 days)

D = All children without disabilities


```
Risk Ratio = (A/B) / (C/D)
Or A * D / B * D
```

In [ ]:
es = total_student_oss_greater_than_10.merge(oss_gre_10_sped_non_sped, on = 'idoe_corporation_id', how = 'left')

In [ ]:
es

,idoe_corporation_id,AM7,AS7,BL7,HI7,MU7,WH7,oss_gre_than_10_wtout_dis,oss_gre_than_10_with_dis
0,-999,0,0,0,0,0,0,0,0
1,15,0,0,0,0,0,0,5,0
2,25,0,0,0,0,0,0,0,0
3,35,0,0,0,0,0,0,0,0
4,125,0,0,11,1,4,5,35,21
...,...,...,...,...,...,...,...,...,...
506,9022,0,0,0,0,0,0,0,0
507,9027,0,0,0,0,0,0,0,0
508,9036,0,0,0,0,0,0,0,0
509,9043,0,0,0,0,0,0,0,0
510,9048,0,0,0,0,0,0,0,0

In [ ]:
#total_student_oss_greater_than_10 = df3_sped_oss_greater_than_10_filter.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0)

#OSS greater than 10 with stn and races
that code for stn only in case need for monitoring not for the calculation

In [ ]:

df3_sped_oss_greater_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(students_greater_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']]
df3_sped_oss_greater_10_filter = df3_sped_oss_greater_10_filter.drop_duplicates(subset=['stn'])

# Create dummy variables for ethnicity
df3_sped_oss_greater_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(students_greater_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']]

# Create dummy variables for ethnicity
ethnicity_dummies = pd.get_dummies(df3_sped_oss_greater_10_filter['ethnicity'], prefix='ethnicity')

# Concatenate dummy variables with original DataFrame
df_with_dummies = pd.concat([df3_sped_oss_greater_10_filter, ethnicity_dummies], axis=1)

# Group by 'idoe_corporation_id' and 'stn', then take the maximum value for each ethnicity dummy
total_student_oss_greater_10 = df_with_dummies.groupby(['idoe_corporation_id', 'stn'])[ethnicity_dummies.columns].max().reset_index()

# Convert True/False to 1/0
total_student_oss_greater_10[ethnicity_dummies.columns] = total_student_oss_greater_10[ethnicity_dummies.columns].astype(int)

# Display the table
print(total_student_oss_greater_10)

      idoe_corporation_id        stn  ethnicity_AM7  ethnicity_AS7  \
0                     125  004514004              0              0
1                     125  004607135              0              0
2                     125  006411062              0              0
3                     125  006411105              0              0
4                     125  007123112              0              0
...                   ...        ...            ...            ...
2235                 9980  111619008              0              0
2236                 9980  E83316016              0              0
2237                 9990  111620100              0              0
2238                 9995  535114145              0              0
2239                 9995  773308909              0              0

      ethnicity_BL7  ethnicity_HI7  ethnicity_MU7  ethnicity_WH7
0                 0              0              0              1
1                 0              0              1              0
2                 1              0              0              0
3                 0              0              0              1
4                 0              0              0              1
...             ...            ...            ...            ...
2235              1              0              0              0
2236              1              0              0              0
2237              1              0              0              0
2238              0              0              0              1
2239              0              0              0              1

[2240 rows x 8 columns]

#SE file

In [ ]:
se1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/se_sv_collection_period_roster_2024_2024-01-03T12 05 25.558482Z.xlsx')

In [ ]:
se1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194760 entries, 0 to 194759
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Category                 194760 non-null  object
 1   PrimarySchool            5837 non-null    float64
 2   PrimaryCOLS              14466 non-null   float64
 3   SCHOOL_YEAR_ID           194760 non-null  int64
 4   COLLECTION_PERIOD_ID     194760 non-null  int64
 5   STN                      194760 non-null  object
 6   IDOE_CORPORATION_ID      194760 non-null  int64
 7   CORPORATION_NAME         194760 non-null  object
 8   LegalCorp                182727 non-null  float64
 9   LegalCorpName            182727 non-null  object
 10  IDOE_SCHOOL_ID           194760 non-null  object
 11  SCHOOL_NAME              194760 non-null  object
 12  Grade                    194760 non-null  object
 13  ProgramName              194760 non-null  object
 14  PrimaryExceptionality    194760 non-null  int64
 15  SecondaryExceptionality  73574 non-null   float64
 16  DateOfBirth              194760 non-null  datetime64[ns]
 17  AgeOnDec1                194760 non-null  int64
 18  gender                   194760 non-null  object
 19  Ethnicity                194760 non-null  object
 20  ADM_TYPE_ID              167457 non-null  float64
 21  ADM_TYPE                 167457 non-null  object
 22  SPECIAL_ED_LOCATION      10681 non-null   object
 23  SES                      108917 non-null  object
 24  ProficiencyLevel         14455 non-null   object
 25  PrimaryFundingLevel      194760 non-null  object
 26  SecondaryFundingLevel    59495 non-null   float64
 27  IdeaEligibility          194760 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(6), int64(5), object(15)
memory usage: 40.3+ MB

In [ ]:
se1.nunique()

Category                        3
PrimarySchool                1618
PrimaryCOLS                   302
SCHOOL_YEAR_ID                  1
COLLECTION_PERIOD_ID            1
STN                        194749
IDOE_CORPORATION_ID           419
CORPORATION_NAME              419
LegalCorp                     300
LegalCorpName                 300
IDOE_SCHOOL_ID               1937
SCHOOL_NAME                  1856
Grade                          17
ProgramName                    20
PrimaryExceptionality          16
SecondaryExceptionality        16
DateOfBirth                  6784
AgeOnDec1                      20
gender                          2
Ethnicity                       8
ADM_TYPE_ID                     8
ADM_TYPE                        8
SPECIAL_ED_LOCATION             8
SES                             2
ProficiencyLevel               61
PrimaryFundingLevel             4
SecondaryFundingLevel           1
IdeaEligibility                 1
dtype: int64

In [ ]:
se1.columns = se1.columns.str.lower()

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
se1['stn'].duplicated(keep = False).sum()

np.int64(22)

In [ ]:
duplicated_stn = se1.duplicated(keep = False)
se2 = pd.concat([se1[duplicated_stn],se1[~duplicated_stn]])#duplicated stn on top

In [ ]:
se2.shape

(194760, 28)

In [ ]:
se2 = se2.drop_duplicates(subset = ["stn"], keep = "first")
se2.shape

(194749, 28)

In [ ]:
#se2 = se1.drop_duplicates(subset = ["stn"], keep = "first")

In [ ]:
#age 3-21
se3 = se2.query("ageondec1 >=3 and ageondec1 <= 21")

In [ ]:
#se3.ageondec1.value_counts()

In [ ]:
se3.ethnicity.value_counts()

ethnicity
White                                 130904
Black - African American               25604
Hispanic Ethnicity and of any race     23223
Multiracial (two or more races)        11531
Asian                                   2901
American Indian - Alaska Native          336
Native Hawaiian - Pacific Islander       153
Unknown                                    8
Name: count, dtype: int64

In [ ]:
se4 = se3[se3['ethnicity'] != 'Unknown'] # Drop rows with 'Unknown' ethnicity

In [ ]:
#se4.ethnicity.value_counts()

In [ ]:
se4['ethnicity'] = se4['ethnicity'].str.strip()

<ipython-input-63-edeb6f9a5654>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  se4['ethnicity'] = se4['ethnicity'].str.strip()

In [ ]:
se4['ethnicity'] = se4['ethnicity'].replace({'White':'WH7', 'Black - African American':'BL7', 'Hispanic Ethnicity and of any race': 'HI7', 'Multiracial (two or more races)': 'MU7', 'Asian' : 'AS7', 'American Indian - Alaska Native' : 'AM7', 'Native Hawaiian - Pacific Islander' : 'PI7'})

<ipython-input-64-9fe6a30cdb36>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  se4['ethnicity'] = se4['ethnicity'].replace({'White':'WH7', 'Black - African American':'BL7', 'Hispanic Ethnicity and of any race': 'HI7', 'Multiracial (two or more races)': 'MU7', 'Asian' : 'AS7', 'American Indian - Alaska Native' : 'AM7', 'Native Hawaiian - Pacific Islander' : 'PI7'})

In [ ]:
se4.ethnicity.value_counts()

ethnicity
WH7    130904
BL7     25604
HI7     23223
MU7     11531
AS7      2901
AM7       336
PI7       153
Name: count, dtype: int64

Excluded programnames

In [ ]:
#se3.programname.value_counts()

In [ ]:
values_to_remove = ['Choice Voucher',
                    'Private Preschool',
                    'Identified Unserved NonPublic/HomeSchool Only',
                    'Correctional Facility',
                    'Parentally placed in Private School'
]

se4= se4[~se4['programname'].isin(values_to_remove)]

In [ ]:
#se4.programname.value_counts()

#All children with disability

In [ ]:
#se4.head(1)

In [ ]:
se_all_children_with_dis = se4.groupby('idoe_corporation_id')['stn'].count().reindex(all_corps, fill_value = 0).reset_index()
se_all_children_with_dis = se_all_children_with_dis.rename(columns = {'stn':'se_all_children_with_dis'})

In [ ]:
#se_all_children_with_dis

#Target race all children with disability

In [ ]:
target_race_all_children_with_dis = se4.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).reindex(all_corps, fill_value = 0).reset_index()
target_race_all_children_with_dis

ethnicity  idoe_corporation_id  AM7  AS7  BL7  HI7  MU7  PI7  WH7
0                         -999    0    0    7    8    4    0   14
1                           15    1    2    2   13    9    0  191
2                           25    1    0    6   45   17    0  240
3                           35    0    1    3   27    2    1  227
4                          125    3   30  129   78   66    0  646
..                         ...  ...  ...  ...  ...  ...  ...  ...
506                       9022    0    0   11    2    2    0   25
507                       9027    0    1    7    1    2    0    1
508                       9036    0    0    3    0    0    0    2
509                       9043    0    0    2    7    3    0   26
510                       9048    1    0    1    1    1    0    1

[511 rows x 8 columns]

###Rename ethnicites values so we could distinguish from es file

In [ ]:
target_race_all_children_with_dis = target_race_all_children_with_dis.rename(columns = {'WH7' : 'SE_WH7', 'AM7' : 'SE_AM7', 'AS7' : 'SE_AS7', 'HI7': 'SE_HI7', 'BL7': 'SE_BL7', 'WH7': 'SE_WH7', 'PI7' : 'SE_PI7', 'MU7' : 'SE_MU7'})
#

## Merged all childeren with disabilities and target children with disabilities from SE file

In [ ]:
se = target_race_all_children_with_dis.merge(se_all_children_with_dis, on = 'idoe_corporation_id', how = 'left')

#merged ES and SE

In [ ]:
es_se = es.merge(se, on = 'idoe_corporation_id', how = 'left')

In [ ]:
es_se

,idoe_corporation_id,AM7,AS7,BL7,HI7,MU7,WH7,oss_gre_than_10_wtout_dis,oss_gre_than_10_with_dis,SE_AM7,SE_AS7,SE_BL7,SE_HI7,SE_MU7,SE_PI7,SE_WH7,se_all_children_with_dis
0,-999,0,0,0,0,0,0,0,0,0,0,7,8,4,0,14,33
1,15,0,0,0,0,0,0,5,0,1,2,2,13,9,0,191,218
2,25,0,0,0,0,0,0,0,0,1,0,6,45,17,0,240,309
3,35,0,0,0,0,0,0,0,0,0,1,3,27,2,1,227,261
4,125,0,0,11,1,4,5,35,21,3,30,129,78,66,0,646,952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,9022,0,0,0,0,0,0,0,0,0,0,11,2,2,0,25,40
507,9027,0,0,0,0,0,0,0,0,0,1,7,1,2,0,1,12
508,9036,0,0,0,0,0,0,0,0,0,0,3,0,0,0,2,5
509,9043,0,0,0,0,0,0,0,0,0,0,2,7,3,0,26,38
510,9048,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,5

#Extracting data from PE file

In [ ]:
pe1.columns = pe1.columns.str.lower()

Calculate age

In [ ]:
from datetime import date
def calculate_age(born):
  today = date.today()
  return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

pe1['age'] = pd.to_datetime(pe1['birth_date']).apply(calculate_age)

In [ ]:
pe_age = pe1.query("age >= 3 and age <= 21")

All Children without disabilities

In [ ]:
pe_age_wtout_dis = pe_age.groupby(['idoe_corporation_id','special_ed_status'])['stn'].count().unstack(fill_value = 0).reindex(all_corps, fill_value = 0)

In [ ]:
pe_age_wtout_dis.reset_index(inplace = True)

In [ ]:
pe_age_wtout_dis = pe_age_wtout_dis.rename(columns = {'N':'pe_wtout_dis', 'Y':'pe_with_dis'})

In [ ]:
pe_age_wtout_dis

special_ed_status  idoe_corporation_id  pe_wtout_dis  pe_with_dis
0                                 -999             0            0
1                                   15          1142          218
2                                   25          1269          309
3                                   35          1041          262
4                                  125          6583          966
..                                 ...           ...          ...
506                               9022           129           44
507                               9027            75           14
508                               9036            23            4
509                               9043           150           41
510                               9048            15            4

[511 rows x 3 columns]

#Merged PE to SE_ES.

In [ ]:
es_se_pe = es_se.merge(pe_age_wtout_dis, on = 'idoe_corporation_id', how = 'left')

In [ ]:
es_se_pe

,idoe_corporation_id,AM7,AS7,BL7,HI7,MU7,WH7,oss_gre_than_10_wtout_dis,oss_gre_than_10_with_dis,SE_AM7,SE_AS7,SE_BL7,SE_HI7,SE_MU7,SE_PI7,SE_WH7,se_all_children_with_dis,pe_wtout_dis,pe_with_dis
0,-999,0,0,0,0,0,0,0,0,0,0,7,8,4,0,14,33,0,0
1,15,0,0,0,0,0,0,5,0,1,2,2,13,9,0,191,218,1142,218
2,25,0,0,0,0,0,0,0,0,1,0,6,45,17,0,240,309,1269,309
3,35,0,0,0,0,0,0,0,0,0,1,3,27,2,1,227,261,1041,262
4,125,0,0,11,1,4,5,35,21,3,30,129,78,66,0,646,952,6583,966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,9022,0,0,0,0,0,0,0,0,0,0,11,2,2,0,25,40,129,44
507,9027,0,0,0,0,0,0,0,0,0,1,7,1,2,0,1,12,75,14
508,9036,0,0,0,0,0,0,0,0,0,0,3,0,0,0,2,5,23,4
509,9043,0,0,0,0,0,0,0,0,0,0,2,7,3,0,26,38,150,41
510,9048,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,5,15,4

#Indicator 4A Calcualtion
Target Rate = swd (oss > 10) / all student with disability

Comparison Rate = swod (oss > 10) / all student without disability

Rate Ratio = Target Rate / comparison rate

In [ ]:
es_se_pe['rate_ratio_4A'] = (es_se_pe['oss_gre_than_10_with_dis']/es_se_pe['se_all_children_with_dis'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])

In [ ]:
es_se_pe

,idoe_corporation_id,AM7,AS7,BL7,HI7,MU7,WH7,oss_gre_than_10_wtout_dis,oss_gre_than_10_with_dis,SE_AM7,SE_AS7,SE_BL7,SE_HI7,SE_MU7,SE_PI7,SE_WH7,se_all_children_with_dis,pe_wtout_dis,pe_with_dis,rate_ratio_4A
0,-999,0,0,0,0,0,0,0,0,0,0,7,8,4,0,14,33,0,0,NaN
1,15,0,0,0,0,0,0,5,0,1,2,2,13,9,0,191,218,1142,218,0.00000
2,25,0,0,0,0,0,0,0,0,1,0,6,45,17,0,240,309,1269,309,NaN
3,35,0,0,0,0,0,0,0,0,0,1,3,27,2,1,227,261,1041,262,NaN
4,125,0,0,11,1,4,5,35,21,3,30,129,78,66,0,646,952,6583,966,4.14895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,9022,0,0,0,0,0,0,0,0,0,0,11,2,2,0,25,40,129,44,NaN
507,9027,0,0,0,0,0,0,0,0,0,1,7,1,2,0,1,12,75,14,NaN
508,9036,0,0,0,0,0,0,0,0,0,0,3,0,0,0,2,5,23,4,NaN
509,9043,0,0,0,0,0,0,0,0,0,0,2,7,3,0,26,38,150,41,NaN
510,9048,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,5,15,4,NaN

In [ ]:
es_se_pe.to_csv("es_se_pe.csv")

#Rate Ratio 4B
target rate = AM (oss > 10) with disability / all SE_AM with disability

Comparision rate = children without disability(oss > 10) / all children without dis

In [ ]:
es_se_pe['rate_ratio_AM'] = (es_se_pe['AM7']/es_se_pe['SE_AM7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
es_se_pe['rate_ratio_AS'] = (es_se_pe['AS7']/es_se_pe['SE_AS7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
es_se_pe['rate_ratio_BL'] = (es_se_pe['BL7']/es_se_pe['SE_BL7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
es_se_pe['rate_ratio_HI'] = (es_se_pe['HI7']/es_se_pe['SE_HI7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
es_se_pe['rate_ratio_MU'] = (es_se_pe['MU7']/es_se_pe['SE_MU7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
es_se_pe['rate_ratio_WH'] = (es_se_pe['WH7']/es_se_pe['SE_WH7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])

In [ ]:
es_se_pe

,idoe_corporation_id,AM7,AS7,BL7,HI7,MU7,WH7,oss_gre_than_10_wtout_dis,oss_gre_than_10_with_dis,SE_AM7,SE_AS7,SE_BL7,SE_HI7,SE_MU7,SE_PI7,SE_WH7,se_all_children_with_dis,pe_wtout_dis,pe_with_dis,rate_ratio_4A,rate_ratio_AM,rate_ratio_AS,rate_ratio_BL,rate_ratio_HI,rate_ratio_MU,rate_ratio_WH
0,-999,0,0,0,0,0,0,0,0,0,0,7,8,4,0,14,33,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,0,0,0,0,0,0,5,0,1,2,2,13,9,0,191,218,1142,218,0.00000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,25,0,0,0,0,0,0,0,0,1,0,6,45,17,0,240,309,1269,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,0,0,0,0,0,0,0,0,0,1,3,27,2,1,227,261,1041,262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,125,0,0,11,1,4,5,35,21,3,30,129,78,66,0,646,952,6583,966,4.14895,0.0,0.0,16.038317,2.411355,11.399134,1.455772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,9022,0,0,0,0,0,0,0,0,0,0,11,2,2,0,25,40,129,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,9027,0,0,0,0,0,0,0,0,0,1,7,1,2,0,1,12,75,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,9036,0,0,0,0,0,0,0,0,0,0,3,0,0,0,2,5,23,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,9043,0,0,0,0,0,0,0,0,0,0,2,7,3,0,26,38,150,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,9048,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,5,15,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
es_se_pe.to_csv("es_se_pe_4B.csv")

In [ ]:
# Errors handling
# Indicator 4:
# Missing div/0

# es_se_pe['rate_ratio_4A'] = np.where(
#     (es_se_pe['se_all_children_with_dis'] > 0) & (es_se_pe['pe_wtout_dis'] > 0),
#     (es_se_pe['oss_gre_than_10_with_dis'] / es_se_pe['se_all_children_with_dis']) /
#     (es_se_pe['oss_gre_than_10_wtout_dis'] / es_se_pe['pe_wtout_dis']),
#     np.nan)

# Check se 4 ethnicity mapping

# After mege check mismatched by corporation:

# print(es_se_pe['idoe_corporation_id'].isna().sum())  # Check for missing corporation IDs
# print(es_se_pe[es_se_pe['idoe_corporation_id'].isin(all_corps)].shape)  # Ensure all corporations are present

# 4B calculation heanding div/0 errors

# es_se_pe['rate_ratio_AM'] = np.where(
#     (es_se_pe['SE_AM7'] > 0) & (es_se_pe['pe_wtout_dis'] > 0),
#     (es_se_pe['AM7'] / es_se_pe['SE_AM7']) /
#     (es_se_pe['oss_gre_than_10_wtout_dis'] / es_se_pe['pe_wtout_dis']),
#     np.nan
# )

# se_counts = se4.groupby('idoe_corporation_id').agg({
#     'stn': 'count',
#     'ethnicity': lambda x: x.value_counts()
# }).unstack(fill_value=0).reindex(all_corps, fill_value=0).reset_index()

# Cross-Check with Source Data:
# Verify that the number of students with suspensions >10 days matches the raw disciplinary data:

# print(filter_sus_greater_than_10['stn'].nunique())  # Unique students with suspensions >10 days
# print(oss_gre_10_sped_non_sped.sum())  # Sum of students by special ed status

# Compute descriptive statistics for your risk ratios to identify outliers or unexpected values
# print(es_se_pe[['rate_ratio_4A', 'rate_ratio_AM', 'rate_ratio_AS', 'rate_ratio_BL', 'rate_ratio_HI', 'rate_ratio_MU', 'rate_ratio_WH']].describe())

# Check for missing data in key columns
# print(es_se_pe[['idoe_corporation_id', 'oss_gre_than_10_with_dis', 'oss_gre_than_10_wtout_dis', 'se_all_children_with_dis', 'pe_wtout_dis']].isna().sum())

# Write unit tests for critical calculations.
# def test_risk_ratio():
#     test_data = pd.DataFrame({
#         'oss_gre_than_10_with_dis': [10],
#         'se_all_children_with_dis': [100],
#         'oss_gre_than_10_wtout_dis': [20],
#         'pe_wtout_dis': [500]
#     })
#     expected = (10 / 100) / (20 / 500)  # 2.5
#     result = (test_data['oss_gre_than_10_with_dis'] / test_data['se_all_children_with_dis']) / \
#              (test_data['oss_gre_than_10_wtout_dis'] / test_data['pe_wtout_dis'])
#     assert result.iloc[0] == expected, f"Expected {expected}, got {result.iloc[0]}"
# test_risk_ratio()

# Plot risk ratios to identify patterns or anomalies
# import matplotlib.pyplot as plt
# es_se_pe['rate_ratio_4A'].hist(bins=50)
# plt.title('Distribution of Rate Ratio 4A')
# plt.xlabel('Rate Ratio')
# plt.ylabel('Frequency')
# plt.show()

# Identify corporations with risk ratios above the threshold (e.g., 3.0)

# data['flag_4A'] = data['rate_ratio_4A'] > 3.0
# for race in race_groups:
#     data[f'flag_4B_{race}'] = data[f'rate_ratio_4B_{race}'] > 3.0

# Confidence interval:
# from scipy.stats import norm
# def risk_ratio_ci(risk1, n1, risk2, n2):
#     se = np.sqrt((1/n1) + (1/n2))  # Simplified standard error
#     ci = norm.interval(0.95, loc=np.log(risk1/risk2), scale=se)
#     return np.exp(ci)

# zero_denominators = data[data['se_all_with_dis'] == 0]
# zero_denominators.to_excel('zero_denominator_corporations.xlsx', index=False)

# ________________________________________________________________________________________________________________________________________
# All codes for sharing
# pe1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/DRF-153 - Neetu Sinha 2023-4 PublicEnrollment 03242025.xlsx')
# master_corp = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/corp_no_from_sig_dispro_calc.xlsx')
# all_corps = master_corp['Reporting Corp'].unique()
# df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ES/DOE - Sinha 2023-24 ES 11142024.xlsx")
# df2 = df1.drop_duplicates(subset = ["stn", "incident_date"], keep = "first")
# df3 = df2.query("Age >=3 and Age <= 21")
# df3.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'}, inplace = True)
# df3_sped = df3.query("special_ed =='Y'")
# df3_Nonsped = df3.query("special_ed =='N'")
# filter_sus = df3.query("discipline_type =='Out of School Suspension' or discipline_type == 'Expulsion'")
# sus_len_sum = filter_sus.groupby('stn')['discipline_action_length'].sum()
# len_gre_10 = sus_len_sum[sus_len_sum > 10].index
# filter_sus_greater_than_10 = filter_sus[filter_sus['stn'].isin(len_gre_10)][['idoe_corporation_id', 'special_ed', 'stn']]  # Include 'stn' here
# filter_sus_greater_than_10 = filter_sus_greater_than_10.drop_duplicates(subset=['stn']) # drop duplicates
# oss_gre_10_sped_non_sped = filter_sus_greater_than_10.groupby(['idoe_corporation_id', 'special_ed'])['stn'].count().unstack(fill_value=0).reindex(all_corps, fill_value = 0)
# oss_gre_10_sped_non_sped = oss_gre_10_sped_non_sped.rename(columns = {'N':'oss_gre_than_10_wtout_dis', 'Y':'oss_gre_than_10_with_dis'})
# df3_sped_oss = df3_sped.query("discipline_type =='Out of School Suspension' or discipline_type == 'Expulsion'")
# sus_len_sum = df3_sped_oss.groupby('stn')['discipline_action_length'].sum()

# # Identify students with total suspension length greater than 10
# students_greater_than_10 = sus_len_sum[sus_len_sum > 10].index

# # Filter df3_sped_oss to include only these students
# df3_sped_oss_greater_than_10_filter = df3_sped_oss[df3_sped_oss['stn'].isin(students_greater_than_10)][['idoe_corporation_id', 'ethnicity', 'stn']]

# # Drop duplicate students based on 'stn' to count each student only once
# unique_students_greater_than_10 = df3_sped_oss_greater_than_10_filter.drop_duplicates(subset=['stn'])

# # Calculate ethnicity breakdown for unique students
# total_student_oss_greater_than_10 = unique_students_greater_than_10.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).reindex(all_corps, fill_value = 0).reset_index()
# es = total_student_oss_greater_than_10.merge(oss_gre_10_sped_non_sped, on = 'idoe_corporation_id', how = 'left')
# se1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/se_sv_collection_period_roster_2024_2024-01-03T12 05 25.558482Z.xlsx')
# se2 = pd.concat([se1[duplicated_stn],se1[~duplicated_stn]])
# se2 = se2.drop_duplicates(subset = ["stn"], keep = "first")
# se3 = se2.query("ageondec1 >=3 and ageondec1 <= 21")
# se4 = se3[se3['ethnicity'] != 'Unknown']
# se4['ethnicity'] = se4['ethnicity'].replace({'White':'WH7', 'Black - African American':'BL7', 'Hispanic Ethnicity and of any race': 'HI7', 'Multiracial (two or more races)': 'MU7', 'Asian' : 'AS7', 'American Indian - Alaska Native' : 'AM7', 'Native Hawaiian - Pacific Islander' : 'PI7'})
# values_to_remove = ['Choice Voucher',
#                     'Private Preschool',
#                     'Identified Unserved NonPublic/HomeSchool Only',
#                     'Correctional Facility',
#                     'Parentally placed in Private School'
# ]

# se4= se4[~se4['programname'].isin(values_to_remove)]

# se_all_children_with_dis = se4.groupby('idoe_corporation_id')['stn'].count().reindex(all_corps, fill_value = 0).reset_index()
# se_all_children_with_dis = se_all_children_with_dis.rename(columns = {'stn':'se_all_children_with_dis'})
# target_race_all_children_with_dis = se4.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).reindex(all_corps, fill_value = 0).reset_index()

# target_race_all_children_with_dis = target_race_all_children_with_dis.rename(columns = {'WH7' : 'SE_WH7', 'AM7' : 'SE_AM7', 'AS7' : 'SE_AS7', 'HI7': 'SE_HI7', 'BL7': 'SE_BL7', 'WH7': 'SE_WH7', 'PI7' : 'SE_PI7', 'MU7' : 'SE_MU7'})
# se = target_race_all_children_with_dis.merge(se_all_children_with_dis, on = 'idoe_corporation_id', how = 'left')
# es_se = es.merge(se, on = 'idoe_corporation_id', how = 'left')
# pe_age = pe1.query("age >= 3 and age <= 21")
# pe_age_wtout_dis = pe_age.groupby(['idoe_corporation_id','special_ed_status'])['stn'].count().unstack(fill_value = 0).reindex(all_corps, fill_value = 0)
# pe_age_wtout_dis.reset_index(inplace = True)
# pe_age_wtout_dis = pe_age_wtout_dis.rename(columns = {'N':'pe_wtout_dis', 'Y':'pe_with_dis'})
# es_se_pe = es_se.merge(pe_age_wtout_dis, on = 'idoe_corporation_id', how = 'left')
# es_se_pe['rate_ratio_4A'] = (es_se_pe['oss_gre_than_10_with_dis']/es_se_pe['se_all_children_with_dis'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])

# #Rate Ratio 4B
# target rate = AM (oss > 10) with disability / all SE_AM with disability

# Comparision rate = children without disability(oss > 10) / all children without dis
# Risk ratio = target rate / Comparison rate

# es_se_pe['rate_ratio_AM'] = (es_se_pe['AM7']/es_se_pe['SE_AM7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
# es_se_pe['rate_ratio_AS'] = (es_se_pe['AS7']/es_se_pe['SE_AS7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
# es_se_pe['rate_ratio_BL'] = (es_se_pe['BL7']/es_se_pe['SE_BL7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
# es_se_pe['rate_ratio_HI'] = (es_se_pe['HI7']/es_se_pe['SE_HI7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
# es_se_pe['rate_ratio_MU'] = (es_se_pe['MU7']/es_se_pe['SE_MU7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])
# es_se_pe['rate_ratio_WH'] = (es_se_pe['WH7']/es_se_pe['SE_WH7'])/(es_se_pe['oss_gre_than_10_wtout_dis']/es_se_pe['pe_wtout_dis'])