<a href="https://colab.research.google.com/github/Sinha123456/Work-Projects/blob/main/July_2024_DOE_LEA_Report_Final_Alyssa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Requirement: 10% sample distributed equally by LEA of a data

Change of requirement: 10% of the full data set

###Tried methods for index comparison Notes for future refrence
expected_counts_aligned = expected_counts.reindex(sampled_counts.index, fill_value=0)
is_equally_distributed = (sampled_counts == expected_counts_aligned).all()

print("\nIs the data equally distributed at 10%? ", is_equally_distributed)
(got the error, didn't work)
####Sort the Series: If the order of the indices is different, sort both Series before comparing:
sampled_counts_sorted = sampled_counts.sort_index()
expected_counts_sorted = expected_counts.sort_index()

is_equally_distributed = (sampled_counts_sorted == expected_counts_sorted).all()

print("\nIs the data equally distributed at 10%? ", is_equally_distributed)

Didn't work as well

####Check for Non-matching Indices: You can also check the indices of both Series to debug them:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# import libraries
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive

#Short Method for random sample of whole data set
changed requirement

In [1]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Copy of July 2024  DOE LEA Report Final (002).xlsx')
#df.head()

In [ ]:
df.shape

(796, 15)

In [ ]:
#10 % random sample from total dataset
df1 = df.sample(frac=0.1, random_state=1)
df1.shape

(80, 15)

In [2]:
#df1

In [ ]:
df1['SchoolDistrictName'].value_counts()

SchoolDistrictName
M S D Wayne Township                5
Carmel Clay Schools                 4
Fort Wayne Community Schools        3
Indianapolis Public Schools         3
Porter County Education Services    2
Michigan City Area Schools          2
Hamilton Southeastern Schools       2
Brownsburg Community Sch Corp       2
M S D Washington Township           2
Evansville Vanderburgh Sch Corp     2
Tippecanoe School Corp              2
Avon Community School Corp          2
Greenwood Community Sch Corp        2
M S D Lawrence Township             2
Clark-Pleasant Com School Corp      2
Perry Township Schools              2
John Glenn School Corporation       1
Lake Station Community Schools      1
Plainfield Community Sch Corp       1
M S D Warren Township               1
Warrick County School Corp          1
Northwest Allen County Schools      1
Mitchell Community Schools          1
Lafayette School Corporation        1
Peru Community Schools              1
Hamilton Heights School Corp        1
Logansport Community Sch Corp       1
Elkhart Community Schools           1
Oak Hill United School Corp         1
Whitley County Cons Schools         1
Vigo County School Corp             1
M S D Bluffton-Harrison             1
North Spencer County Sch Corp       1
Gary Community School Corp          1
Seymour Community Schools           1
Lawrenceburg Com School Corp        1
Franklin Township Com Sch Corp      1
West Clark Community Schools        1
Eastern Greene Schools              1
Penn-Harris-Madison Sch Corp        1
Clay Community Schools              1
Kokomo School Corporation           1
M S D Pike Township                 1
Richland-Bean Blossom C S C         1
East Noble School Corp              1
Linton-Stockton School Corp         1
Greater Clark County Schools        1
Bartholomew Con School Corp         1
North Lawrence Com Schools          1
Delphi Community School Corp        1
Wawasee Community School Corp       1
New Albany-Floyd County Con Sch     1
South Bend Community Sch Corp       1
Mt Vernon Community Sch Corp        1
Anderson Community School Corp      1
Spencer-Owen Community Schools      1
School Town Of Speedway             1
Name: count, dtype: int64

In [ ]:
df['SchoolDistrictName'].value_counts()

SchoolDistrictName
Indianapolis Public Schools         54
Fort Wayne Community Schools        27
M S D Wayne Township                24
M S D Lawrence Township             22
Perry Township Schools              22
                                    ..
Eastern Pulaski Com Sch Corp         1
East Noble School Corp               1
West Lafayette Com School Corp       1
Delaware Community School Corp       1
Mt. Vernon Community School Corp     1
Name: count, Length: 182, dtype: int64

In [ ]:
df['SchoolDistrictName'].unique().shape

(182,)

In [ ]:
df1.to_excel('ten_pct_sample_frm_ttl_ppl.xlsx', index = False)

In [3]:
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Copy of July 2024  DOE LEA Report Final (002).xlsx')
# df1.head()

# 10 % of Random sample of each LEA which are equally distributed
First requirement

In [4]:
def sample_lea(df1, lea_col, sample_fraction=0.1):
    samples = []
    grouped = df1.groupby(lea_col)

    for name, group in grouped:
        # Get the number of samples to take
        n_samples = int(len(group) * sample_fraction)

        # Randomly sample from the group
        sample = group.sample(n=n_samples, random_state=1)  # Setting random_state for reproducibility
        samples.append(sample)

    # Concatenate all sampled data
    return pd.concat(samples)

# Create the random sample
sampled_data = sample_lea(df1, 'SchoolDistrictName', sample_fraction=0.1)

# Display the sampled data
#print(sampled_data)

In [ ]:
import pandas as pd

def sample_lea(df1, lea_col, sample_fraction=0.1):
    samples = []
    grouped = df1.groupby(lea_col)

    for name, group in grouped:
        # Get the number of samples to take
        n_samples = int(len(group) * sample_fraction)

        # Randomly sample from the group
        sample = group.sample(n=n_samples, random_state=1)  # Setting random_state for reproducibility
        samples.append(sample)

    # Concatenate all sampled data
    sampled_data = pd.concat(samples)

    # Get the original counts of each group
    original_counts = df1[lea_col].value_counts()
    # Get the sampled counts of each group
    sampled_counts = sampled_data[lea_col].value_counts()

    # Calculate expected counts
    expected_counts = (original_counts * sample_fraction).round().astype(int)

    # Display the counts
    print("Original counts:\n", original_counts)
    print("\nSampled counts:\n", sampled_counts)
    print("\nExpected counts:\n", expected_counts)

    # Check if all groups are sampled with the expected count
    is_equally_distributed = (sampled_counts == expected_counts).all()
    print("\nIs the data equally distributed at 10%? ", is_equally_distributed)

    return sampled_data

# Create the random sample
sampled_data = sample_lea(df1, 'SchoolDistrictName', sample_fraction=0.1)

# Note: The detailed print statements will help you verify the distribution visually.

In [ ]:
original_counts = df1['SchoolDistrictName'].value_counts()
original_counts

SchoolDistrictName
Indianapolis Public Schools         54
Fort Wayne Community Schools        27
M S D Wayne Township                24
M S D Lawrence Township             22
Perry Township Schools              22
                                    ..
Eastern Pulaski Com Sch Corp         1
East Noble School Corp               1
West Lafayette Com School Corp       1
Delaware Community School Corp       1
Mt. Vernon Community School Corp     1
Name: count, Length: 182, dtype: int64

In [ ]:
sampled_counts = sampled_data['SchoolDistrictName'].value_counts()
sampled_counts

SchoolDistrictName
Indianapolis Public Schools        5
M S D Lawrence Township            2
Perry Township Schools             2
Fort Wayne Community Schools       2
M S D Wayne Township               2
M S D Washington Township          1
Tippecanoe School Corp             1
South Bend Community Sch Corp      1
Northwest Allen County Schools     1
New Albany-Floyd County Con Sch    1
Anderson Community School Corp     1
M S D Pike Township                1
Bartholomew Con School Corp        1
Hamilton Southeastern Schools      1
Franklin Township Com Sch Corp     1
Evansville Vanderburgh Sch Corp    1
Elkhart Community Schools          1
Carmel Clay Schools                1
Vigo County School Corp            1
Name: count, dtype: int64

In [ ]:
expected_counts = (original_counts * 0.1).round().astype(int)
expected_counts

SchoolDistrictName
Indianapolis Public Schools         5
Fort Wayne Community Schools        3
M S D Wayne Township                2
M S D Lawrence Township             2
Perry Township Schools              2
                                   ..
Eastern Pulaski Com Sch Corp        0
East Noble School Corp              0
West Lafayette Com School Corp      0
Delaware Community School Corp      0
Mt. Vernon Community School Corp    0
Name: count, Length: 182, dtype: int64

In [ ]:
print("sample_counts indices:", sampled_counts.index)  ## check the indices of both counts
print("expected_counts indices:", expected_counts.index)

sample_counts indices: Index(['Indianapolis Public Schools', 'M S D Lawrence Township',
       'Perry Township Schools', 'Fort Wayne Community Schools',
       'M S D Wayne Township', 'M S D Washington Township',
       'Tippecanoe School Corp', 'South Bend Community Sch Corp',
       'Northwest Allen County Schools', 'New Albany-Floyd County Con Sch',
       'Anderson Community School Corp', 'M S D Pike Township',
       'Bartholomew Con School Corp', 'Hamilton Southeastern Schools',
       'Franklin Township Com Sch Corp', 'Evansville Vanderburgh Sch Corp',
       'Elkhart Community Schools', 'Carmel Clay Schools',
       'Vigo County School Corp'],
      dtype='object', name='SchoolDistrictName')
expected_counts indices: Index(['Indianapolis Public Schools', 'Fort Wayne Community Schools',
       'M S D Wayne Township', 'M S D Lawrence Township',
       'Perry Township Schools', 'Bartholomew Con School Corp',
       'Evansville Vanderburgh Sch Corp', 'M S D Washington Township',
       'Anderson Community School Corp', 'South Bend Community Sch Corp',
       ...
       'South Spencer County Sch Corp', 'Hanover Community School Corp',
       'Knox Community School Corp', 'Spencer-Owen Community Schools',
       'School City Of Hobart', 'Eastern Pulaski Com Sch Corp',
       'East Noble School Corp', 'West Lafayette Com School Corp',
       'Delaware Community School Corp', 'Mt. Vernon Community School Corp'],
      dtype='object', name='SchoolDistrictName', length=182)

In [ ]:
#Direct Comparison with Common Indices: If you only want to compare the values that are present in both Series,
#can use the intersection of the indices:

common_indices = sampled_counts.index.intersection(expected_counts.index)
is_equally_distributed = (sampled_counts.loc[common_indices]) == expected_counts.loc[common_indices]

print("\nIs the data equally distributed at 10%? ", is_equally_distributed)

Is the data equally distributed at 10%?  SchoolDistrictName
Indianapolis Public Schools         True
M S D Lawrence Township             True
Perry Township Schools              True
Fort Wayne Community Schools       False
M S D Wayne Township                True
M S D Washington Township          False
Tippecanoe School Corp              True
South Bend Community Sch Corp      False
Northwest Allen County Schools      True
New Albany-Floyd County Con Sch     True
Anderson Community School Corp     False
M S D Pike Township                 True
Bartholomew Con School Corp        False
Hamilton Southeastern Schools       True
Franklin Township Com Sch Corp     False
Evansville Vanderburgh Sch Corp    False
Elkhart Community Schools           True
Carmel Clay Schools                False
Vigo County School Corp             True
Name: count, dtype: bool

In [5]:
#convert sample data into dataframe
df2 = pd.DataFrame(sampled_data)
# df2.head()

In [ ]:
df2.to_excel('ten_percent_eqly_dist_lea.xlsx', index = False)