In [55]:
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import datetime

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [56]:
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DRF-80 - Brandon Myers 2024-25 PublicEnrollment 01292025.xlsx")

In [57]:
#df1.head()

In [58]:
master_corp = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/corp_no_from_sig_dispro_calc.xlsx")

#### LEA from Sig dispor calculator

In [59]:
all_cops = master_corp['Reporting Corp'].unique()

In [60]:
#df1.PRIMARY_EXCEPTIONALITY.value_counts()

In [61]:
pd.set_option('display.max_columns', None)

In [62]:
#df1.head()

In [63]:
#df1.info()

In [64]:
# cols = ['REPORTING_CORPORATION', 'PrimaryExceptionality','SecondaryExceptionality', 'SecondaryFundingLevel', 'Location', 'ADM_TYPE_ID', 'LEGAL_CORPORATION']
# df1[cols] = df1[cols].fillna(0).astype(int)

In [65]:
df1.columns = df1.columns.str.lower()

In [66]:
df1['stn'].duplicated(keep = False).sum()

np.int64(0)

In [67]:
# duplicated_stn = df1.duplicated(keep = False)
# df2 = pd.concat([df1[duplicated_stn], df1[~duplicated_stn]])

### Saving Duplicate stn in excel

In [68]:
# 'stn' is the column containing student identification numbers
#duplicated_stn_rows = df1[df1.duplicated(subset=['stn'], keep=False)]

# Save to Excel
#duplicated_stn_rows.to_excel('duplicated_stn_with_all_fields.xlsx', index=False)

In [69]:
df1.shape

(1040190, 11)

In [70]:
#df1.nunique()

In [71]:
df1.describe()

       school_year_id  idoe_corporation_id  primary_exceptionality_code
count       1040190.0         1.040190e+06                 1.040190e+06
mean           2025.0         4.684827e+03                -5.959188e+00
std               0.0         2.547192e+03                 7.176160e+00
min            2025.0         1.500000e+01                -9.000000e+00
25%            2025.0         3.005000e+03                -9.000000e+00
50%            2025.0         4.720000e+03                -9.000000e+00
75%            2025.0         6.560000e+03                -9.000000e+00
max            2025.0         9.995000e+03                 1.700000e+01

In [72]:
# exclude_programs = ['Parentally placed in Private School', 'Choice Voucher', 'Private Preschool', 'Correctional Facility', 'Identified Unserved NonPublic/HomeSchool Only']
# df2 = df2[~df2['programname'].isin(exclude_programs)]

In [73]:
#df2.programname.value_counts() # check the accurate excluded program

In [74]:
#df1.info()

### Calculate the birthdate

In [75]:
from datetime import date
df1['age'] = (date.today().year - pd.to_datetime(df1['birth_date']).dt.year)

### check the age

In [76]:
#df1.age.value_counts()

###Ethnicity algin with fedral requirment.

In [77]:
df1 = df1.replace({'White':'WH7', 'Black':'BL7', 'Hispanic': 'HI7', 'Multiracial': 'MU7', 'Asian' : 'AS7', 'American Indian' : 'AM7', 'Native Hawaiian or Other Pacific Islander' : 'PI7'})

In [78]:
#df1.ethnicity.value_counts()

In [79]:
age_3_21 = df1[(df1['age'] >= 3) &
               (df1['age'] <= 21)]

In [80]:
#age_3_21.age.value_counts()

####Age from 3 to 21

In [81]:
#age_3_21 = df3[(df3['age_on_01_dec_2024'] >= 3) &
               (df3['age_on_01_dec_2024'] <= 21)]

IndentationError: unexpected indent (<ipython-input-81-6be38aff8ee4>, line 2)

In [ ]:
#age_3_21.head(1)

### Data for Comparison identification sheet

Total Student enrollment (3-21) Race/ethnicity

In [ ]:
ttl_stu_enrl_3_21 = age_3_21.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = 'idoe_corporation_id').reindex(all_cops, fill_value=0)

## Save the total student enrollment age 3-21 in excel.

In [ ]:
#ttl_stu_enrl_3_21.to_excel('ttl_stu_enrl_3_21.xlsx')
#ttl_stu_enrl_3_21

In [ ]:
#Flag SPED eligibility from primary exceptionality column
df1['idea-eligibility'] = np.where(df1['primary_exceptionality'].isnull(), "NonSPED", "SPED")

In [ ]:
df1['idea-eligibility'].value_counts()

In [ ]:
df1.shape

####Comparison Placement sheet -- School Age IDEA enrollment(5 -21)

In [ ]:
idea_sch_age = df1[
    (df1['age'] >= 5) &
    (df1['age'] <= 21) &
    (df1['idea-eligibility'] == 'SPED')
]

In [ ]:
idea_sch_age['idea-eligibility'].value_counts()

In [ ]:
#df1.head(1)

In [ ]:
comparison_placement_idea_sch_age = idea_sch_age.groupby('idoe_corporation_id')['ethnicity'].value_counts().unstack(fill_value=0).sort_values(by = 'idoe_corporation_id').reindex(all_cops, fill_value=0)

###saved the file for comparison placement sheet:

Comparison group : IDEA enrollment (school age)

In [ ]:
comparison_placement_idea_sch_age.to_excel('comparison_placement_idea_sch_age.xlsx')
#comparison_placement_idea_sch_age

## save the excel file: Comparison Placement sheet

Comparison group: School age IDEA enbrollment

####STN are duplicated because reporting corporations and leagal corporations are different are different

Removing the Duplicated stn

In [ ]:
#